{% extends 'base.html' %}
{%  load crispy_forms_tags %}
{% block content %}


<form style="width:50% ; margin : auto" method="post">
    <h1>welcome to your profile</h1>
    <br/>
    {% csrf_token %}
    {{ form.as_p }}

<button class="btn btn-warning">Edit Now</button>
</form>
<hr/>
<h1>this is car buy history</h1>

<div class="row d-flex flex-wrap pt-3">
    {% for c in carall %}
    <div class="col-3 mx-2">
        <div class="card border " style="width: 18rem;">
            <img src="{{c.car_model.car_image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{c.car_model.car_name}}</h5>
                <p class="card-text">{{c.car_model.car_price}}$</p>
            </div>
        </div>

    </div>
    {% endfor %}
</div>
{% endblock %}